
body {
	height: 100vh;
	margin: 0;
}

.HEADER, .MAP {
	margin: 0;	
}

.SIDEBAR {
	float: left;
	height: 100vh;
	width: 0%;
	display: hidden;
	font-size: 0;
	font-size: 0vw;
	font-family: 'Karla', sans-serif;
	visibility: hidden;
	background-color: black;
	color: white;
}

.normal {
	float: left;
	width: 0%;
	height: 100vh;
	display: hidden;
	font-size: 0;
	font-size: 0vw;
	font-family: 'Karla', sans-serif;
	transition-duration: 0.3s;
	visibility: hidden;
	background-color: black;
	color: white;
}
.grow {
	float: left;
	width: 15%;
	height: 100vh;
	display: block;
	font-size: 16px;
	font-size: 1vw;
	font-family: 'Karla', sans-serif;
	transition-duration: 0.3s;
	visibility: visible;
	background-color: black;
	color: white;
}

.ABOUT {
	transition: 0.25s;
}

.ABOUT:hover {
	cursor: pointer;
}

.ABOUT2 {
	float: right;
	z-index: 9999999;
	position: absolute;
	width: 15%;
	height: 0%;
	right: 0;
	background-color: black;
	color: white;
	font-family: 'Karla', sans-serif;
	padding: 15px;
	visibility: hidden;
}

.normal2 {
	float: right;
	z-index: 9999999;
	position: absolute;
	width: 15%;
	height: 0%;
	right: 0;
	background-color: black;
	color: white;
	font-family: 'Karla', sans-serif;
	transition-duration: 0.3s;
	padding: 15px;
	visibility: hidden;
	font-size: 0%;
	font-size: 0vw;
}

.grow2 {
	float: right;
	z-index: 9999999;
	position: absolute;
	width: 15%;
	height: 40%;
	right: 0;
	background-color: black;
	color: white;
	font-family: 'Karla', sans-serif;
	transition-duration: 0.3s;
	padding: 15px;
	visibility: visible;
	font-size: 16px;
	font-size: 1vw;
}	

p {
	padding-left: 10px;
}

.checkbox, #submit, #selectSubject {
	margin-left: 10px;
}

.HEADER {
	height: 5vh;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
	font-size: 34px;
}

.LOGO {
	width: 40px;
}

img {
	width: 90%;
	height: 90%;
}

.MAP {
	height: 95vh;
}

.BUTTON, .LOGO, .TITLE {
	float: left;
}

.ABOUT {
	float: right;
	margin-right: 15px;
}

/****************/

.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xbutterfly {
  width: auto; }
  .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease, -webkit-transform .3s ease; }
  .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      top: 0;
      -webkit-transition: top .3s ease, -webkit-transform .3s .5s ease;
      transition: top .3s ease, -webkit-transform .3s .5s ease;
      transition: top .3s ease, transform .3s .5s ease;
      transition: top .3s ease, transform .3s .5s ease, -webkit-transform .3s .5s ease;
      width: 40px; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
